@model BKBTitas.Models.ViewModel.LoginModels
@{
    ViewBag.Title = "Welcome";
}
<br />
<br />
<table align="center">
    <tr>
        <td>
            <img src="~/Images/logo.png" class="img-center" height="100" width="100" />
        <td>
        <td style="font-size:20px;font-weight:bold">
            @Html.Label("WELCOME TO BTCL ONLINE BILL COLLECTION SYSTEM", htmlAttributes: new { @class = "control-label" })
        <td>
        <td>
            @*<img src="~/Images/titaslogo.jpg" class="img-center" height="100" width="100" />*@
            <img src="~/Images/btcl.jpg" class="img-center" height="100" width="100" />
<td>
    </tr>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

